body {
  font-weight: normal;
  overflow-x: hidden;
  font-family: "Lato", sans-serif;
  background: #f2f5f7;
}

*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a,
a:focus,
a:hover {
  outline: 0;
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
  border: 0 none;
  outline: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
label,
ol,
p,
ul {
  margin: 0;
  font-weight: 400;
  padding: 0;
}

li {
  list-style: none;
}

samp,
button,
input,
select,
textarea {
  font-family: "Lato", sans-serif;
  -webkit-appearance: none;
  -ms-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: 0 0;
  border: 0 none;
}

a,
a:focus,
a:hover,
button {
  text-decoration: none;
  outline: 0;
  -webkit-box-shadow: 0, 0, 0, #707070;
  box-shadow: 0, 0, 0, #707070;
}

button,
input[type="submit"] {
  cursor: pointer;
}

table {
  border-collapse: collapse;
}

html,
body {
  height: 100%;
}